<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Games</title>

<link
	href="https: //fonts.googleapis.com/css2? family= Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700 & display=swap"
	rel="stylesheet" />

<link rel="stylesheet" href="/main.css" />
<link rel="stylesheet" href="/create-game.css" />
</head>

<body>
	<div class="games__container">
		<h1 class="games__title">Crie o seu game</h1>

		<div class="games__form-container">
			<form th:object="${gameDTO}" action="/games" method="POST"
				class="games__form">
				<div class="container-fields">
					<div class="field">
						<label class="label" for="name">nome do jogo</label> <input
							th:field="*{name}" th:errorclass="is-invalid" class="input"
							type="text" id="name" placeholder="god of war" />
						<div class="invalid-feedback" th:errors="*{name}"></div>
					</div>

					<div class="field">
						<label class="label" for="description">descrição do jogo</label> <input
							th:field="*{description}" th:errorclass="is-invalid"
							class="input" type="text" name="description" id="description"
							placeholder="god of war é uma série..." />
						<div class="invalid-feedback" th:errors="*{description}"></div>
					</div>

					<div class="field">
						<label class="label" for="release-date">data de lançamento</label>
						<input th:field="*{releaseDate}" th:errorclass="is-invalid"
							class="input" type="text" name="release-date" id="release-date"
							placeholder="01/01/2005" />
						<div class="invalid-feedback" th:errors="*{releaseDate}"></div>
					</div>

					<div class="field">
						<label class="label" for="category">categoria</label> <select
							class="input select" name="category" id="category"
							th:field="*{category}" th:errorclass="is-invalid">
							<option value="ação">ação</option>
							<option value="aventura">aventura</option>
							<option value="tiro">tiro</option>
							<option value="esporte">esporte</option>
						</select>
						<div class="invalid-feedback" th:errors="*{category}"></div>
					</div>

					<div class="field">
						<label class="label" for="parent-rating">classificação</label> <select
							class="input select" name="parent-rating" id="parent-rating"
							th:field="*{parentalRating}" th:errorclass="is-invalid">
							<option value="0">0</option>
							<option value="10">10</option>
							<option value="12">12</option>
							<option value="14">14</option>
							<option value="16">16</option>
							<option value="18">18</option>
						</select>
						<div class="invalid-feedback" th:errors="*{category}"></div>
					</div>
				</div>

				<div class="button-container">
					<button class="button" type="submit">criar game</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
