<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Games</title>

<link
	href="https: //fonts.googleapis.com/css2? family= Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700 & display=swap"
	rel="stylesheet" />

<link rel="stylesheet" href="/main.css" />
<link rel="stylesheet" href="/list-games.css" />
</head>

<body>
	<div class="games__container">
		<h1 class="games__title">Games</h1>

		<div class="games__list-container">
			<ul class="games__list" th:each="game : ${games}">
				<li class="games__item"><span># <span class="id"
						th:text="${game.getId()}">#1000
							</p>
					</span>

						<p class="title" th:text="${game.getName()}">God of War</p>
						<p class="description" th:text="${game.getDescription()}">God
							of War é uma série de jogos eletrônicos de ação-aventura criada
							por David Jaffe da Santa Monica Studio, da Sony. Iniciada em 2005
							no console PlayStation 2, tornou-se carro-chefe para a marca
							PlayStation, consistindo em oito jogos em várias plataformas, com
							um nono atualmente em desenvolvimento.</p>
						<p class="release-date" th:text="${game.getReleaseDate()}">
							01/01/2005</p>

						<div class="block-info-container">
							<p class="block-info category" th:text="${game.getCategory()}">
								ação</p>
							<p class="block-info parent-rating"
								th:text="${game.getParentalRating()}">18</p>
						</div></li>
			</ul>

			<div class="button-container">
				<a href="/games/criar" class="button">criar um game</a>
			</div>
			<div class="button-container">
				<a href="/musics/criar" class="button">criar uma música</a>
			</div>
		</div>
	</div>
</body>
</html>
